<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="Ensamblaje de JPAC2.SLDASM">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.35159 0.49601 -0.2331"
        rpy="0 0 0" />
      <mass
        value="19.675" />
      <inertia
        ixx="0.87681"
        ixy="-0.033759"
        ixz="-0.0074318"
        iyy="1.2689"
        iyz="0.07841"
        izz="0.84802" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot_description/meshes/visual/base_link.STL" />

      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot_description/meshes/visual/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="BaseGiratoria1_Link">
    <inertial>
      <origin
        xyz="-0.019499 0.066863 6.1062E-16"
        rpy="0 0 0" />
      <mass
        value="0.077823" />
      <inertia
        ixx="8.2437E-05"
        ixy="-2.9935E-05"
        ixz="-1.927E-20"
        iyy="4.9106E-05"
        iyz="-8.3327E-20"
        izz="9.5967E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot_description/meshes/visual/BaseGiratoria1_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot_description/meshes/visual/BaseGiratoria1_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="BaseGiratoria1_join"
    type="continuous">
    <origin
      xyz="-0.0010727 -0.151 -0.02173"
      rpy="3.1416 0 -0.0087266" />
    <parent
      link="base_link" />
    <child
      link="BaseGiratoria1_Link" />
    <axis
      xyz="0 0 -1" />
    <limit
      effort="100"
      velocity="100" />
    <dynamics
      damping="0.1"
      friction="0.1" />
  </joint>
  <link
    name="Ruedita1_Link">
    <inertial>
      <origin
        xyz="-5.3776E-16 6.9389E-16 1.1102E-15"
        rpy="0 0 0" />
      <mass
        value="0.18473" />
      <inertia
        ixx="0.00013393"
        ixy="1.6941E-20"
        ixz="1.135E-19"
        iyy="0.00013393"
        iyz="-1.5638E-19"
        izz="0.00025301" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot_description/meshes/visual/Ruedita1_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot_description/meshes/visual/Ruedita1_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Ruedita1_join"
    type="continuous">
    <origin
      xyz="-0.00024393 0.037257 0.06718"
      rpy="-1.5708 0 -1.5708" />
    <parent
      link="BaseGiratoria1_Link" />
    <child
      link="Ruedita1_Link" />
    <axis
      xyz="-0.006547 0 0.99998" />
    <limit
      effort="100"
      velocity="100" />
    <dynamics
      damping="0.1"
      friction="0.1" />
  </joint>
  <link
    name="BaseGiratoria2_Link">
    <inertial>
      <origin
        xyz="-0.019499 0.066863 -6.1617E-15"
        rpy="0 0 0" />
      <mass
        value="0.077823" />
      <inertia
        ixx="8.2437E-05"
        ixy="-2.9935E-05"
        ixz="-4.863E-19"
        iyy="4.9106E-05"
        iyz="-1.109E-18"
        izz="9.5967E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot_description/meshes/visual/BaseGiratoria2_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot_description/meshes/visual/BaseGiratoria2_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="BaseGiratoria2_join"
    type="continuous">
    <origin
      xyz="0.0015627 0.15099 -0.02173"
      rpy="-3.1416 0 3.1329" />
    <parent
      link="base_link" />
    <child
      link="BaseGiratoria2_Link" />
    <axis
      xyz="0 0 -1" />
    <limit
      effort="100"
      velocity="100" />
    <dynamics
      damping="0.1"
      friction="0.1" />
  </joint>
  <link
    name="Ruedita2_Link">
    <inertial>
      <origin
        xyz="0 -3.7956E-15 5.2736E-15"
        rpy="0 0 0" />
      <mass
        value="0.18473" />
      <inertia
        ixx="0.00013393"
        ixy="8.4703E-22"
        ixz="-3.1324E-19"
        iyy="0.00013393"
        iyz="1.6439E-19"
        izz="0.00025301" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot_description/meshes/visual/Ruedita2_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot_description/meshes/visual/Ruedita2_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Ruedita2_join"
    type="continuous">
    <origin
      xyz="0.00010817 0.037258 0.06718"
      rpy="-1.5708 0 -1.5708" />
    <parent
      link="BaseGiratoria2_Link" />
    <child
      link="Ruedita2_Link" />
    <axis
      xyz="-0.0029034 0 -1" />
  </joint>
  <link
    name="RuedaDerecha_Link">
    <inertial>
      <origin
        xyz="5.0238E-15 -0.038139 -6.8834E-15"
        rpy="0 0 0" />
      <mass
        value="3.6915" />
      <inertia
        ixx="0.016926"
        ixy="-1.7711E-16"
        ixz="1.8518E-16"
        iyy="0.030842"
        iyz="-1.4976E-17"
        izz="0.016926" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot_description/meshes/visual/RuedaDerecha_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot_description/meshes/visual/RuedaDerecha_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="RuedaDerecha_join"
    type="continuous">
    <origin
      xyz="0.24575 -0.0021388 -0.016"
      rpy="1.5708 0 1.5621" />
    <parent
      link="base_link" />
    <child
      link="RuedaDerecha_Link" />
    <axis
      xyz="0 0 1" />
    <limit
      effort="100"
      velocity="100" />
    <dynamics
      damping="0.1"
      friction="0.1" />
  </joint>
  <link
    name="RuedaIzquierda_Link">
    <inertial>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <mass
        value="0" />
      <inertia
        ixx="0"
        ixy="0"
        ixz="0"
        iyy="0"
        iyz="0"
        izz="0" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot_description/meshes/visual/RuedaIzquierda_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot_description/meshes/visual/RuedaIzquierda_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="RuedaIzqierda_join"
    type="continuous">
    <origin
      xyz="-0.139283853258101 0.00121570580084043 -0.0160000000000005"
      rpy="1.5707963267949 0 -1.57952297305487" />
    <parent
      link="base_link" />
    <child
      link="RuedaIzquierda_Link" />
    <axis
      xyz="0 0 1" /> <!-- AQUÍ EL CAMBIO -->
    <limit
      effort="100"
      velocity="100" />
    <dynamics
      damping="0.1"
      friction="0.1" />
  </joint>
</robot>